# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://xgigxstsvgjwpfwohykx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnaWd4c3Rzdmdqd3Bmd29oeWt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk0MzgxNTQsImV4cCI6MjA3NTAxNDE1NH0.ph9G211k4exF2xY5FWOUvBZKw_HB2JXyNvSiLxAPXYE
